:root {
  --mainWhite: whitesmoke;
  --white: white;
  --black: black;
  --mainGrey: rgb(157, 157, 157);
  --tada-blue: #61dafb;
  --tada-blue-dark: #0051ff;
    padding: 0px;
}
html {
  background: white;
  
}
body {
  font-family: 'Bungee Shade', cursive !important;
  background: var(--mainWhite) !important;
  color: var(--black) !important;
}
.bg-grey {
  background-color: var(--mainGrey)!important;
}
h1 {
  letter-spacing: 0.3rem;
}

.title-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.w-3 {
  width: 3rem;
}
.pa-1 {
  padding: 1rem;
}
@media (max-width: 560px) {
  .p-1 {
    padding: 1rem;
  }
  
}