:root {
  --mainWhite: whitesmoke;
  --white: white;
  --black: black;
  --mainGrey: rgb(157, 157, 157);
  --tada-blue: #61dafb;
}

body {
  font-family: 'Bungee Shade', cursive !important;
  background: var(--mainWhite) !important;
  color: var(--black) !important;
}

h1 {
  letter-spacing: 0.3rem;
}

.title-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

